html {
   font-size: 18px; 
}

body {
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
}

/* HEADER / BANNER */

header {
    width: 100%;
}

.banner {
    background: url(../images/glasses-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 31rem;
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: 1rem;
    color: white;
    padding: 1rem 0;
    font-size: 1rem;
}

nav .logo {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

h1 {
    padding-left: 1rem;
    
}

nav .nav_links {
    display: flex;
    padding-right: 2rem;
}

nav .nav_links span:nth-child(2) {
    padding: 0 2rem;
}

nav .nav_links a {
    text-decoration: none;
    color: white;
}

.banner_message {
    margin-top: 14rem;
    text-align: right;
    position: relative;
    left: 2rem;
}

.banner_message h2 {
    background-color: white;
    display: inline;
    padding: 1.5rem 5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    /* enter uppercase here */
}

/* MAIN CONTENT SECTION */

.panels {
    display: flex;
    justify-content: center;
   
}

.panel {
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
    text-align: center;
}

.panel img {
    
    width: 5rem;
    margin-bottom: 1rem;
}


.panel img:nth-child(1) {
    width: 3.5rem;
}




.about {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.about .about_panel {
    width: 35%;
}

h3 {
    font-weight: bold;
    /* Need to uppercase */
    color: white;
    background-color: cadetblue;
    width: 10rem;
    padding: 0.5rem 1.25rem;
}

.about_panel p {
    padding-top: 1rem;
}

.about .about_panel:nth-child(1) {
    padding-right: 2.5%;
}

.about .about_panel:nth-child(2) {
    padding-left: 2.5%;
}


/*   FOOTER SECTION  */

footer {
    background-color: azure;
}

.foot_content {
    display: flex;
    
    padding: 4rem;
}

.foot_content img {
    height: 1.5rem;
    padding-right: 1rem;
}
